html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

nav {
    width: 179px;
    font-size: 12px;
    line-height: 150%;
    background: url(/img/kotoba_b3.gif);
}

nav h2 {
    margin-bottom: 5px;
    padding: 12px 10px 5px 48px;
}

nav h2 a {
    color: #FFFFFF;
}

#leftfortop {
    background: url(/img/left_bg_top.gif) no-repeat;
}

#searchwords {
    background: url(/img/left_bg_.gif) no-repeat;
}

#searchbooks {
    background: url(/img/left_bg0.gif) no-repeat;
}

#leftdanjyo {
    background: url(/img/left_bg1.gif) no-repeat;
}

#leftyomikata {
    background: url(/img/left_bg2.gif) no-repeat;
}

#leftbosyu {
    background: url(/img/left_bg3.gif) no-repeat;
}

#leftquestion {
    background: url(/img/left_bg4.gif) no-repeat;
}

nav ul {
    list-style: url(/img/list_ima.gif);
    padding: 0px 10px 0 20px;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    color: #23673D;
    text-decoration: underline;
    font-weight: bold;
}

table .list {
    margin: 5px auto;
}

table .list tr {
}

table .list tr th {
    text-align: center;
}

table .list tr th,
table .list tr td {
    border: 1px solid #28382A;
    padding: 5px;
}


#top_menu {
    list-style: none;
    display: flex;
    padding: 5px 10px;
}

#top_menu li a {
    color: #23673D;
    text-decoration: underline;
    font-weight: bold;
}

#top_menu li img {
    width: 22px;
    height: 17px;
}

#top_menu li.r {
    width: 22px;
    background: url('/img/point_ko.gif') no-repeat;
}

#top_menu li.l {
    width: 22px;
    background: url('/img/point_ko2.gif') no-repeat;
}


.separate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.separate div {
    width: 260px;
    border: 1px solid #B2DF7D;
}

.separate div h2 {
    width: 225px;
    height: 30px;
    padding: 5px 0 0 35px;
    margin: 0;
}

.separate div h2.danjo {
    background: url("/img/4cnt_bg_.gif") no-repeat #B2DF7D;
}

.separate div h2.yomikata {
    background: url("/img/4cnt_bg0.gif") no-repeat #B2DF7D;
}

.separate div h2.bosyu {
    background: url("/img/4cnt_bg1.gif") no-repeat #B2DF7D;
}

.separate div h2 a {
    color: #23673D;
}

.separate div p {
    padding: 5px 10px;
    font-weight: bold;
}

.separate div ul {
    padding: 0 0 0 25px;
    margin-bottom: 10px;
}

.separate div ul li {
    list-style: url(/img/list_ima.gif);
    margin-bottom: 5px;
}

.separate div ul li img{
    width: 27px;
    height: 15px;
}

.separate div ul li a {
    color: #23673D;
    text-decoration: underline;
    font-weight: bold;
}
