@charset "Shift_JIS";





/* ----- 全体 ----- */

body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size:14px;
  background: #ffffff url(http://www.kotobasagashi.net/img/kotoba_b2.gif);
}

input.nyuryoku{
border: 1px solid #5F6718;
}

textarea.nyuryoku{
border: 1px solid #5F6718;
}


/* ----- リンク ----- */

a:link#greenlink { 
font-size:12px;
color: #23673D;
text-decoration: underline;
font-weight: bold;
}

a:visited#greenlink { 
font-size:12px;
color: #23673D;
text-decoration: underline;
font-weight: bold;
}

a:active#greenlink {
font-size:12px;
color: #FFBA00;
text-decoration: underline;
font-weight: bold;
}

a:hover#greenlink {
font-size:12px;
color: #FFBA00;
text-decoration: underline;
font-weight: bold;
}

a:link#categorylink { 
font-size:12px;
color: #23673D;
text-decoration: underline;
}

a:visited#categorylink { 
font-size:12px;
color: #23673D;
text-decoration: underline;
}

a:active#categorylink {
font-size:12px;
color: #FF7800;
text-decoration: underline;
}

a:hover#categorylink {
font-size:12px;
color: #FF7800;
text-decoration: underline;
}

a:link#whitelink { 
font-size:12px;
color: #FFFFFF;
text-decoration: underline;
font-weight: bold;
}

a:visited#whitelink { 
font-size:12px;
color: #FFFFFF;
text-decoration: underline;
font-weight: bold;
}

a:active#whitelink {
font-size:12px;
color: #FFBA00;
text-decoration: underline;
font-weight: bold;
}

a:hover#whitelink {
font-size:12px;
color: #FFBA00;
text-decoration: underline;
font-weight: bold;
}


a:link#maillink { 
font-size:11px;
color: #23673D;
text-decoration: underline;
}

a:visited#maillink { 
font-size:11px;
color: #23673D;
text-decoration: underline;
}

a:active#maillink {
font-size:11px;
color: #FF7800;
text-decoration: underline;
}

a:hover#maillink {
font-size:11px;
color: #FF7800;
text-decoration: underline;
}


/* ----- メインコンテンツ ----- */

#date {
font-size: 16px;
font-weight:bold;
line-height: 200%;
text-align: right;
vertical-align: bottom;
color: #23673D;
margin: 0;
padding-top: 5px;
}


#maintitle {
font-size: 18px;
font-weight:bold;
color: #23673D;
margin: 0;
padding: 5px 0px 5px 0px;
}

#kotobamidashi {
font-size: 14px;
font-weight: bold;
line-height: 150%;
vertical-align:middle;
width: 100%;
color: #23673D;
background: #D9EF7D;
margin: 0;
padding: 5px 0px 2px 5px;
border-bottom:1px solid #FFFFFF;
}

#kansoumidashi {
font-size: 14px;
font-weight: bold;
line-height: 150%;
vertical-align:middle;
width: 100%;
color: #23673D;
background: #C2DF7D;
margin: 0;
padding: 5px 10px 2px 10px;
border-bottom:1px solid #FFFFFF;
}

#kotobanakami {
font-size: 12px;
line-height: 150%;
/*width: 100%;*/
margin: 0;
padding: 10px;
border: 1px solid #D9DF7D;
background: #F6FFDF;
}

#kotobatoukou {
font-size: 12px;
text-align: left;
}

#kansounakami {
font-size: 12px;
line-height: 150%;
width: 100%;
margin: 0;
padding: 10px;
border: 1px solid #C2DF7D;
background: #EDFFDF;
}

#kihon {
font-size: 12px;
line-height: 150%;
}

#kihonbold {
font-size: 12px;
font-weight: bold;
line-height: 150%;
}

#categoryleft {
border-left: 10px solid #D9DF7D;
/*border-bottom: 1px solid #D9DF7D;*/
padding-left: 5px;
/*padding-bottom: 5px;*/
line-height: 180%;
}

.thispage {
font-size: 14px;
font-weight: bold;
color:#28382A;
}

.bookhyoka {
font-size: 14px;
color:#FF7E00;
}

/* ----- 下４つのコンテンツ -----  */

.naiyou {
font-size: 12px;
line-height: 150%;
margin: 0;
padding: 5px;
}

#links {
font-size:12px;
line-height: 200%;
}

#links ul {
list-style: url(http://www.kotobasagashi.net/img/list_ima.gif);
}

 h3{
font-size: 14px;
font-weight: bold;
line-height: 150%;
color:#28382A;
margin: 0;
padding: 10px 0px 0px 40px;
border-bottom:1px solid #FFFFFF
}

div#danjyo h3 {
background: url(http://www.kotobasagashi.net/img/4cnt_bg_.gif) no-repeat;
font-size: 13px;
}

div#yomikata h3 {
background: url(http://www.kotobasagashi.net/img/4cnt_bg0.gif) no-repeat;
}

div#bosyu h3 {
background: url(http://www.kotobasagashi.net/img/4cnt_bg1.gif) no-repeat;
}

div#question h3 {
background: url(http://www.kotobasagashi.net/img/4cnt_bg2.gif) no-repeat;
}

#questionsentaku {
font-size: 12px;
padding: 10px 0px 0px 10px;
}

#questiontoukou {
font-size: 12px;
padding: 10px;
text-align: right;
}

/* ----- 左メニュー ----- */

h2 {
font-size:12px;
font-weight: bold;
line-height: 150%;
width: 100%;
color:#FFFFFF;
margin: 0;
padding: 12px 0px 2px 40px;
}

div#leftfortop h2 {
background: url(../img/left_bg_top.gif) no-repeat;
padding: 16px 0px 5px 48px;
}

div#searchwords h2 {
background: url(http://www.kotobasagashi.net/img/left_bg_.gif) no-repeat;
padding: 16px 0px 5px 48px;
}

div#searchbooks h2 {
background: url(http://www.kotobasagashi.net/img/left_bg0.gif) no-repeat;
padding: 16px 0px 0px 48px;
}

div#leftdanjyo h2 {
background: url(http://www.kotobasagashi.net/img/left_bg1.gif) no-repeat;
padding: 12px 10px 0px 48px;
}

div#leftyomikata h2 {
background: url(http://www.kotobasagashi.net/img/left_bg2.gif) no-repeat;
padding: 12px 10px 0px 48px;
}

div#leftbosyu h2 {
background: url(http://www.kotobasagashi.net/img/left_bg3.gif) no-repeat;
padding: 16px 0px 22px 48px;
}

div#leftquestion h2 {
background: url(http://www.kotobasagashi.net/img/left_bg4.gif) no-repeat;
padding: 16px 0px 22px 48px;
}

div#leftmagazine h2 {
color: #5F6718;
background: url(http://www.kotobasagashi.net/img/left_bg5.gif) no-repeat;
padding: 16px 0px 10px 48px;
}

#leftmagazine ul {
list-style: url(http://www.kotobasagashi.net/img/list_imb.gif);
}

div#leftcontact h2 {
font-size:12px;
font-weight: bold;
line-height: 150%;
width: 100%;
color:#53370B;
padding: 0px;
}

#leftcontact ul {
list-style: url(http://www.kotobasagashi.net/img/list_imc.gif);
}

#leftnotice {
font-size: 10px;
text-align: left;
padding: 5px;
}

.leftnoticekyocyo {
font-weight: bold;
}

#left {
font-size:12px;
line-height:150%;
}

#leftcategory {
line-height:130%;
padding: 10px 0px 10px 15px;
}

.leftcategorymidashi {
color:#23673D;
font-weight: bold;
}

.leftcategorytree {
color:#72441C;
}

#left ul {
list-style: url(http://www.kotobasagashi.net/img/list_ima.gif);
}

#counter {
text-align: center;
padding-top: 10px;
}


/* ----- 右メニュー -----  */

.sidemenu {
font-size:12px;
color:#23673D;
font-weight:bold;
}

#right1 {
font-size:12px;
line-height:120%;
}

#right1 ul {
list-style: url(http://www.kotobasagashi.net/img/list_imd.gif);
}

#right2 {
font-size:12px;
line-height:120%;
}

#right2 ul {
list-style: url(http://www.kotobasagashi.net/img/list_ime.gif);
}

#rightnotice {
font-size:10px;
padding-top: 5px;
}

#dokusyahyoka {
font-size:11px;
}


/* ----- フッタ -----  */

div#topagetop {
font-size:12px;
color: #6DA14B;
text-align: right;
padding-right: 10px;
padding-bottom: 10px;
}

div#copyright {
font-size:10px;
color: #FFFFFF;
text-align: right;
padding-right: 10px
}

/* -----感想・E謄據璽賢----  */

#toukoukiyaku {
font-size:14px;
font-weight: bold;
color: #6DA14B;
text-align: center;
border-bottom: 1px solid #6DA14B;
}

/* -----Yomikata-----  */

div#yomimokujioo {
font-size:14px;
font-weight: bold;
color: #F6FFDF;
background: #6DA14B;
padding: 2px;
border-right: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
}

div#yomimokujiss {
font-size:13px;
font-weight: bold;
color: #FFFFFF;
background: #369936;
padding: 4px 2px 2px 4px;
border-right: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
}

div#yomimokujioo {
font-size:14px;
font-weight: bold;
color: #F6FFDF;
background: #6DA14B;
padding: 4px 2px 2px 4px;
border-right: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
}

.yominumber {
font-size:10px;
}

.yomimidashi {
font-size:14px;
font-weight: bold;
}

.yomiorange {
font-weight: bold;
font-size:13px;
color: #FF7E00;
}

.yomipurple {
font-weight: bold;
color: #FF00FF;
}

.yomibold {
font-weight: 800;
color: #000000;
}

a:link#yomilink { 
font-size:12px;
color: #23673D;
text-decoration: underline;
}

a:visited#yomilink { 
font-size:12px;
color: #23673D;
text-decoration: underline;
}

a:active#yomilink {
font-size:12px;
color: #FF7800;
text-decoration: underline;
}

a:hover#yomilink {
font-size:12px;
color: #FF7800;
text-decoration: underline;
}

div#yomionegaim {
width: 400;
font-weight: bold;
color: #FFFFFF;
background: #FF7E00;
text-align: center;
border-right: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
padding: 3px 1px 1px 3px;
margin: 0px 0px 2px 0px;
}

div#yomionegai {
width: 400;
margin: 0;
padding: 10px;
text-align: left;
border: 1px solid #FF7E00;
background: #F6FFDF;
}

div#yomibook {
width: 500;
margin: 0;
padding: 10px;
text-align: left;
border: 1px ;
border: 1px solid #aaaaaa;
}




p.com{
	color: #000;
	font-size:12px;
	line-height:150%;
}